.nav-header {background: #28282A;justify-content: space-between;display: flex;color: #fff;height: auto;position: fixed;width: 100%;margin: 0;padding: 0;top: 0;}
.nav-header p {color: #fff;}
.main-navigation {display: flex;justify-content: space-between;margin-top: 39px;width: 100%;}
.left-navigation-link {background: #28282A;color: #fff;height: 800px;width: 250px;position: fixed;margin-left: 0; }
.right-navigation-link {margin-left: 300px;color: black;margin-top: 50px;height: auto;width: 100%;display: flex;justify-content: space-around;}
.right-navigation-link-atm {margin-left: 300px;margin-top: 50px;width: 100%;background: #FAFBFD;padding: 10px;}
.logo-img {width: 40%;padding: 5px;}
.logo-nav {width: 20%;display: flex;justify-content: space-around;}
.hide-icons {margin-top: 10px;}
.hide-icons img {width: 30px;margin-top: 10px; }
.first-logo-date {width: auto;font-size: 14px;display: flex;justify-content: space-around;}
.first-logo-date span {padding: 15px;}
.first-logo img {width: 80%;margin-top: 10px;}
.fabelll {color: white}
.first-logo-date span img {width: 25px;}
.user-profile {margin-top: 10px;background: white;border-radius: 100%;width: 20px;height: 20px;cursor: pointer;}
.user-profile img {width: 1200px;  }
.dashboad-link {background: #000000; width: 250px;padding: 10px 0px 10px 0px;margin-top: 20px;font-size: 14px}
.left-navigation-link-ul ul li span img {margin-right: 10px;margin-top: 10px;}
.left-navigation-link-ul ul a li{color: white;text-decoration: none;font-size: 16px;line-height: 40px;}
.left-navigation-link-ul a li:hover{background: #6b6b77;}
.dashboad-link a span {color: #fff;font-size: 20px;}




.dashboad-link a span img {margin-right: 10px;}
.left-navigation-link-ul ul li {display: flex;}
.left-navigation-link-ul ul li img {width: 20px}
.left-navigation-link-ul ul{width: 100%;}
.left-navigation-link-ul ul a{margin:0px}
.dashboad-link a span img {width: 20px}
.dashboad-link a {display: flex;}
.home-page {margin-top: 100px;margin-left: 300px;}
.divider-homepage {display: flex;justify-content: space-between;width: 100%;}
.first-line-main {background: #f1f1f1;width: 75%;}
.first-line-home {display: flex;justify-content: space-around;width: 100%;}
.second-line {width: 25%;background: #f1f1f1;height: auto;padding: 10px;}
.active-atm {background: #fff;width: 32%;margin: 5px; height: auto;border-top: 2px solid green;display: flex;justify-content: space-around;padding: 20px;border-radius: 5px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);}

.atm-not-dispensing {
    background: #fff;
    width: 32%;
    margin: 5px;
    height: auto;
    border-top: 2px solid orange;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.atm-outservice {
    background: #fff;
    width: 32%;
    margin: 5px;
    height: auto;
    border-radius: 5px;
    border-top: 2px solid red;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.atm-active-number {
    font-size: 25px;
    font-weight: bold
}

.atm-active-status {
    color: green;
    font-size: 12px;
    font-weight: bold
}

.active-image {
    width: 90px;
}

.atm-active-dispensing {
    font-size: 25px;
    font-weight: bold;
}

.atm-dispensing-status {
    color: orange;
    font-size: 12px;
    font-weight: bold;
}

.dispencing-active-image {
    width: 90px;
}

.atm-active-outservice {
    font-size: 25px;
    font-weight: bold;
}

.atm-outservice-status {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.outservice-active-image {
    width: 90px;
}

.second-line-home {
    width: 100%;
}

.atm-list {
    font-size: 20px;
    margin: 20px;
    font-weight: bold
}

.atm-list-item {
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dispensing {
    height: 500px;
    overflow-y: scroll;
    width: 250px;
    padding:5px 5px 5px 10px;
}

.not-dispensing {
    height: 500px;
    overflow-y: scroll;
    width: 250px;
    padding:5px;
}

.out-service {
    height: 500px;
    overflow-y: scroll;
    width: 250px;
    padding:5px;
}

.out-service::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.out-service::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.out-service::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.not-dispensing::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.not-dispensing::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.not-dispensing::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.dispensing::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.dispensing::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.dispensing::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.dispending-div {
    padding: 5px;
    width: 200px;
    background: green;
    border-radius: 5px;
    color: white;
    margin: 10px 5px 10px 0px;
    height: 60px;
}

.dispending-div h4 {
    font-size: 12px;
    text-align: center
}

.dispending-div .city {
    background: #fff;
    width: auto;
    padding:5px;
    color: green;
    border-radius: 2px;
    margin-top: 1px;
}

.dispensing-tabs {
    justify-content: space-around;
    display: block;
    cursor: pointer;
}

.not-dispensing .dispensing-tabs .dispending-div {
    background: orange;
    cursor: pointer
}
.atmlistt a{text-decoration: none;}

.out-service .dispensing-tabs .dispending-div {
    background: red;
    cursor: pointer
}

.atm-list-scroll p {
    font-size: 14px;
    text-align: center;
    font-weight: bold
}

.second-first-line {
    height: auto;
    width: 100%;
    padding: 10px;
    background: white;
    margin: 0px 0px 10px 0px;
    border-top: 2px solid grey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.second-second-line {
    height: auto;
    width: 100%;
    padding: 10px;
    background: white;
    margin: 10px 0px 10px 0px;
    border-top: 2px solid grey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.second-third-line {
    height: auto;
    width: 100%;
    padding: 10px;
    background: white;
    margin: 10px 0px 10px 0px;
    border-top: 2px solid grey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.second-first-line h3 {
    font-weight: bold;
    font-size: 14px;
}

.second-second-line h3 {
    font-weight: bold;
    font-size: 14px;
}

.second-third-line h3 {
    font-weight: bold;
    font-size: 14px;
}

.status-level .level-icon-tab {
    font-size: 8px;
    font-weight: bold
}

.status-level {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.level-icons {
    background: green;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 2px;
    margin-top: 2px;
}

.level-inservice {
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 2px;
    margin-top: 2px;
}

.level-dispensine {
    background: orange;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 2px;
    margin-top: 2px;
}

.level-icon-tab {
    display: flex
}

.doughout {
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.counters {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold
}

.counter-service {
    color: green
}

.counter-out {
    color: red
}

.counter-dispensine {
    color: orange
}

select {
    font-size: 12px;
}

.admin-counteres {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.first-admin-counteres {
    width: 30%;
}

.bottom-admin-counteres {
    background: #dcddff;
    height: 30px;
    text-align: center;
    color: #040760;
    font-weight: bold
}

.top-admin-counteres {
    background: #040760;
    height: 40px;
    padding: 10px
}

/* .top-admin-counteres span {
    background:blue;
    border-radius: 100%;
    height: 800px;
    width: 30px;
    
} */

/* .top-admin-counteres span img {
    height: 20px;
    width: 20px;
    padding: 2px;
    display: none;
} */

.dashoboard-text {
    font-size: 18px;
    color: grey
}

.dashboad-main-page {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dashoboard-line-one {
    width: 30%;
    height: 270px;
    background: #fff;
    padding: 10px;
    border-top: 2px solid red;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.dashoboard-line-two {
    width: 30%;
    height: 270px;
    background: #fff;
    padding: 10px;
    border-top: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dashoboard-line-three {
    width: 30%;
    height: 270px;
    background: #fff;
    padding: 10px;
    border-top: 2px solid orange;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.atm-offine {
    display: flex;
    justify-content: space-between
}

.atm-offine {
    display: flex;
    justify-content: space-between
}

.offline-class {
    background: #FEC6C7;
    color: #B8080A;
    padding: 5px;
    width: 100px;
    text-align: center
}

.atm-name-name {
    font-weight: bold;
    font-size: 20px
}

.offline-class {
    background: #FEC6C7;
    color: #B8080A;
    padding: 5px;
    width: 100px;
    text-align: center
}

.atm-name-name {
    font-weight: bold;
    font-size: 20px;
}

.custodian-class {
    background: #DFE0FE;
    color: #9092C5;
    padding: 5px;
    width: auto;
    text-align: center
}

.custodian-name-name {
    font-weight: bold;
    font-size: 20px;
}

.vendor-class {
    background: #FEDCB9;
    color: #9092C5;
    padding: 5px;
    width: auto;
    text-align: center
}

.vendor-name-name {
    font-weight: bold;
    font-size: 20px;
}

.atm-other-contents ul li {
    font-size: 14px;
}

.atm-other-contents {
    margin-top: 20px;
   
}

#custodian-scroll{
    overflow-y: scroll;
    height: 200px;
}
#custodian-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#custodian-scroll::-webkit-scrollbar {
    width: 6px;
    height: 30px;
    background-color: #F5F5F5;
}

#custodian-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.custodian_status{
    line-height: 30px;
    margin:10px;
    border: red;
}
.custodian_status hr{width: 253px;}

.atm-other-contents ul li {
    font-size: 14px;
    line-height: 23px
}


.down-content-page {
    margin: 40px 0px 20px 0px;
}

.down-content-page-list {
    display: flex;
    justify-content: space-around;
}

.device-details {
    width: 30%;
    padding: 10px;
}

.device-details p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px
}

.media-details p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px
}

.cash-details p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px
}

.cash-details {
    width: 30%;
    background: white;
    padding: 10px;
}

.media-details {
    width: 30%;
    background: white;
    padding: 5px;
}

.device-details-scroll {
    overflow-y: scroll;
    height: 300px;
    width: 300px
}

.device-details-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.device-details-scroll::-webkit-scrollbar {
    width: 6px;
    height: 30px;
    background-color: #F5F5F5;
}

.device-details-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.device-scroll-detailes-one {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: #F5F6FA;
    font-weight: bold;
}

.device-scroll-detailes-two {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.chat-page {
    width: 100%;
    margin: 20px 0px 10px 0px;
    height: auto;
    justify-content: space-between;
    display: flex
}

.inservice {
    padding: 10px;
    margin: 20px;
    width: 48%;
    height: 300px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cash-status {
    padding: 10px;
    margin: 20px;
    width: 48%;
    height: 300px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.inservice h4 {
    font-weight: bold;
    font-size: 18px;
}

.char-design {
    margin: 20px
}

.dot-dot {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 10px
}

.left-dot-divide {
    display: flex;
    justify-content: space-between
}

.inner-left-dot-divide {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 7px
}

.inner-left-left-dot-divide {
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 7px
}

.right-dot-divide {
    display: flex;
    justify-content: space-between
}

.inner-right-dot-divide {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 7px
}

.chater {
    width: 150px;
}

.linechatpage {
    margin: 20px;
}

.doughout-div {
    display: flex;
    justify-content: space-between
}

.cash-dispense {
    font-size: 20px;
    font-weight: bold
}

.select-days {
    background: #CC0003;
    border-radius: 20%;
    padding: 10px;
    border: 1px solid red
}







.divide-one-formik-input input {
    border: 1px solid #6C6C6C;
    width: 96%;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px
}





.Long-formik-input select {
    width: 98%;
    border: 1px solid #6C6C6C;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
}

label {
    font-weight: bold
}

.searching-tab {
    display: flex;
    justify-content: space-between
}

.import-export {
    display: flex;
    justify-content: space-between;
    width: 300px
}

.export {
    justify-content: space-between;
    display: flex
}

.export span img {
    width: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

.import {
    justify-content: space-between;
    display: flex
}

.import span img {
    width: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

.more {
    justify-content: space-between;
    display: flex
}

.more span img {
    width: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

.inventory-button {border-radius: 5px;background: #CC0003;padding: 10px 10px 0px 10px;justify-content: space-between;display: flex}
.flex-er {display: flex;justify-content: space-between;color: white;font-weight: bold;height: 50px;margin: 10px 0px 20px 0px}
.inventory-button img {width: 20px;margin-top: 2px;margin-right: 5px}
.table table tr th {width: 300px;text-align: left}
.table table tr td {width: 300px;text-align: left;padding: 10px 0px 10px 0px;background: #fff;margin-top: 10px}
.table table tr {margin-top: 10px;line-height: 50px;}
.Drops {margin-top: 10px;display: none}
.logout {background: turquoise;}
.main-front-page{height: 100vh}
.main-front-page img{width: 600px;margin-top: 140px;}
.main-front-page h3{color: #fff;font-size:30px;margin-top: 10px;}
.login-button a{background: red;color: white; font-size:25px;padding: 4px; width: 100px;font-weight: bold;text-decoration: none;}
.login-button{width: 300px;padding: 10px;background: red;margin-top: 50px;}
.login-page-interface{height: 100vh;}
.flogin-form-page{border-radius: 10px; background: white;width: 400px;height: 400px;display: flex;align-items: center;flex-direction: column;}
.flogin-form-page img{width: 100px;}
.flogin-form-pagea{display: flex;align-items: center;flex-direction: column;margin-top: 100px;padding: 10px;}
.flogin-form-pagea img{width: 250px;margin-top: 30px;}
.flogin-form-page input{width: 300px;height: 40px;margin: 5px;padding: 2px;}
.icon-image{position: relative;margin-left: -50px;}
.navigations{display: flex;padding: 10px;cursor: pointer;}
.navigations span img{width: 20px;margin-right: 10px;}
.navigations:hover{background: #6a6a72;}
.left-navigation-link-ul a{color: #fff;text-decoration: none;}
.navigations a{color: #fff;text-decoration: none;font-family: 'Poppins', sans-serif;}
.navigations-dashboard{display: flex;padding: 10px;background: #000000;font-family: 'Poppins', sans-serif;}
.navigations-dashboard span img{width: 20px;margin-right: 10px;}
.navigations-dashboard a{color: #fff;text-decoration: none;font-family: 'Poppins', sans-serif;}



/* add user css code */
.adduser-div{font-size: 20px;color:#28282A}
.Add-atm-form input {padding: 2px;}
.Add-atm-form select {padding: 2px;width: 300px;}
.divide-one-formik-input {display: flex;justify-content: space-between;margin-top: 10px;width: 92%}
.enrol-vendor{background: #B8080A;padding:10px;color: #fff;width: 150px;margin: 10px 0px 10px 0px;border-radius: 5px;font-size: 20px;}
.atmdetails{margin-top:400px}



.model-make {width: 50%}
.model-make select {width: 95%;border: 1px solid #6C6C6C;height: 50px;margin-top: 15px;border-radius: 5px;}
.Long-formik-input {width: 95%;margin-top: 15px}
.Long-formik-input select {width: 95%;margin-top: 15px}
.Long-formik-input input {border: 1px solid #6C6C6C;width: 95%;height: 50px;border-radius: 5px;margin-top: 15px}
.role-name{font-size: 16px;}
.state-status{font-size: 12px;color:#CC0003;padding: 5px;}
.device_status{font-size: 14px;padding: 5px;font-weight: bold;}
.cash-detailss{display: flex;justify-content: space-between;line-height:20px;margin: 5px;}
.cash-stausss{color:green;padding: 5px;}
.cash-details-name{font-weight: bold;}

.VendorPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.VendorPopup-inner{
    position: relative;
    padding: 32px;
    width: 300px;
    height: auto;
    max-width: 640px;
    background-color: white;
    border-radius: 10px;
}
.VendorPopup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    
}

.VendorPopup form div label{
    
    line-height: 10px;
    margin-bottom: 5px;
}
.VendorPopup form div input{
    width: 300px;
    height: 30px;
    
}
.VendorPopup form div textarea{
    width: 300px;
    height: 90px;
    border-radius: 5px;
    resize: none;
}

.atmlistt a .dispending-div .city{color: black;}

.signbuttondiv{display:flex;justify-content: center;align-items: center;}
.signinbtn{width: 200px;background: red;height: 40px;margin:12px 0px 12px 0px; color: white;font-size:18px;display:flex;justify-content: center;align-items: center;}
.relative{position: relative;margin-left: -30px;color:white}